<?php

/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_aloHelper = $this->helper('Magiccart\Alothemes\Helper\Data');
?>
<div class="mage-magictabs mc-<?php echo $this->getTypeFilter(); ?>">
    <?php if (!$_productCollection->count()) : ?>
        <div class="message info empty">
            <div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div>
        </div>
    <?php else : ?>
        <?php
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
        $pos = $block->getPositioned();
        ?>
        <?php
        $config     = $this->getWidgetCfg();
        // $width      = $config['widthImages'];
        // $height     = $config['heightImages'];
        $showCart       = $config['cart'];
        $showCompare    = $config['compare'];
        $showWishlist   = $config['wishlist'];
        $showReview     = $config['review'];
        ?>
        <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
            <?php $iterator = 1; ?>
            <ol class="products list items">
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($_productCollection as $_product) :

                    $customerSession = $this->helper('Magento\Checkout\Helper\Cart')->getCart()->getCustomerSession();
                    $loginWithBVIPAccount = false;

                    if ($customerSession->isLoggedIn() && $customerSession->getCustomerGroupId() == "7")
                        $loginWithBVIPAccount = true;

                    $price = $_product->getPrice();
                    $bvipPrice = $savedAmount = $finalPrice = $finalPriceNumber = $finalPriceCents = 0;

                    $priceInfo = "";

                    if ($_aloHelper->isOnSale($_product)) {
                        $finalPrice = $_product->getFinalPrice();
                        $priceInfo = "Don't Pay $" . number_format($price, 2);
                    }

                    $tier_prices = $_product->getTierPrices();
                    if (count($tier_prices) > 0) {
                        foreach ($tier_prices as $tierPrice) {
                            if ($tierPrice->getCustomerGroupId() == "7") {
                                $bvipPrice = $tierPrice->getValue();
                            }
                        }
                    }

                    if ($bvipPrice > 0) {
                        $finalPrice = $loginWithBVIPAccount ? $bvipPrice : $finalPrice;
                        $priceInfo = $loginWithBVIPAccount ? "BVIP Price Applied" : "BVIP Price $" . number_format($bvipPrice, 2);
                    }

                    if ($finalPrice > 0) {
                        $savedAmount = $price - $finalPrice;
                    }

                    $finalPriceArray = explode(".", number_format($finalPrice > 0 ? $finalPrice : $price, 2));
                    $finalPriceNumber = $finalPriceArray[0];
                    $finalPriceCents = $finalPriceArray[1];

                ?>
                    <?php /* @escapeNotVerified */ echo ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                    <div class="product-item-info" data-container="product-grid">
                        <?php
                        $productImage = $block->getImage($_product, $image);
                        if ($pos != null) {
                            $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                . 'top:' . $productImage->getHeight() . 'px;"';
                        }
                        ?>
                        <?php // Product Image 
                        ?>
                        <div class="images-container">
                            <div class="link-view">
                                <button type="button" class="quickview" title="<?php echo $block->escapeHtml(__('Quick View')); ?>" onclick="jQuery.fn.quickview({url:'<?php echo $this->getUrl('alothemes/product/view', array('id' => $_product->getId(), '_type' => 'direct_link', '_secure' => $this->getRequest()->isSecure())) ?>'});"><span><i class="pe-icon pe-7s-search icons"></i><?php //echo __('Quick View')                                                                                                                                                                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                                                                                                                                                                                ?></span>
                                </button>
                            </div>
                            <?php $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                            ?>
                            <h2 class="product-name">
                                <a class="product-item-link" title="<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>" href="<?php echo $_product->getProductUrl() ?>">
                                    <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                </a>
                            </h2>
                            <div class="product-hover">
                                <?php echo $_aloHelper->getLabels($_product); ?>
                                <?php //echo $_aloHelper->getTimer($_product); 
                                ?>
                                <a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                                    <?php echo $productImage->toHtml(); ?>
                                </a>
                            </div>
                            <?php if ($showWishlist || $showCompare || $showCart) : ?>
                                <div class="hover-box test">
                                    <a class="detail_links" href="<?php echo $_product->getProductUrl() ?>"></a>
                                    <div class="product actions" <?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>

                                        <div class="row magicProductCatalogProductListGridViewPriceAndCart">
                                            <div class="pricePart col-sm-12">
                                                <div class="row pricePartRow">
                                                    <?php if ($finalPrice <= 0) { ?>
                                                        <div class="col-sm-12 pricePartRowContentWithoutSave">
                                                            <span class="priceDollarSign">$</span><span class="priceNumber"><?php echo $finalPriceNumber; ?></span><span class="priceCents"><?php echo $finalPriceCents; ?></span>
                                                        </div>
                                                    <?php } else { ?>

                                                        <div class="col-sm-8 pricePartRowContentFinalPrice">
                                                            <div class="finalPriceCorner finalPriceTopRightCorner"></div>
                                                            <div class="finalPriceCorner finalPriceBottomRightCorner"></div>
                                                            <div>
                                                                <span class="priceDollerSign">$</span><span class="priceNumber"><?php echo $finalPriceNumber; ?></span><span class="priceCents"><?php echo $finalPriceCents; ?></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-4 pricePartRowContentSave">
                                                            <span class="priceSaveWord">SAVE</span>
                                                            <br />
                                                            <span class="priceSaveAmount">$<?php echo number_format($savedAmount, 2); ?></span>
                                                        </div>
                                                    <?php } ?>

                                                    <div class="col-sm-12 pricePartRowContentBottomInfo"><?php echo $priceInfo; ?></div>

                                                </div>
                                            </div>
                                        </div> <!-- End Row  -->

                                        <?php if ($showWishlist || $showCompare) : ?>
                                            <div data-role="add-to-links" class="actions-secondary add-to-links" <?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
                                                <?php if ($showCompare) :
                                                    $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                                ?>
                                                    <a href="#" class="action tocompare" title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>" aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>" data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>' role="button">
                                                        <i class="icon icon-compare"></i><?php echo __('Compare') ?>
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist) : ?>
                                                    <a href="#" class="action towishlist" title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>" aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>" data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>' data-action="add-to-wishlist" role="button">
                                                        <i class="icon icon-favorites"></i><?php echo __('Wishlist') ?>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                        <?php echo $showReview ? $block->getReviewsSummaryHtml($_product, $templateType) : ''; ?>
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        <?php if ($showDescription) : ?>
                            <div class="product description product-item-description">
                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="<?php /* @escapeNotVerified */ echo $_productNameStripped ?>" class="action more"><?php /* @escapeNotVerified */ echo __('Learn More') ?></a>
                            </div>
                        <?php endif; ?>
                    </div>
                    <?php echo ($iterator == count($_productCollection) + 1) ? '</li>' : '' ?>
                <?php endforeach; ?>
            </ol>
        </div>
        <?php // echo $block->getToolbarHtml() 
        ?>
        <?php if (!$block->isRedirectToCartEnabled()) : ?>
            <script type="text/x-magento-init">
                {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
        <?php endif; ?>
    <?php endif; ?>
</div>