<?php
if(!$this->getStatus()) return;
$selector = 'alo-content-'.uniqid();
$slider = $this->getSlider();
if(!count($slider)) return;
?>
<div class="<?php echo $selector ?>">
    <div class="magicslider <?php echo $this->getData('class')?>"
    <?php foreach ($this->getFrontendCfg() as $opt) :?>
        data-<?php echo $opt ?>='<?php echo $this->getData($opt) ?>'
    <?php endforeach;?>  
    data-lazy-load="ondemand"
    >
        <?php foreach ($slider as $image) :?>
            <div class="item <?php echo $image->getmediaType() ?>"
                <?php echo ($image['video_url']) ? 'data-video="'. $image['video_url'] .'"' : ''; ?> 
            >
                <a href="<?php echo isset($image['link']) ? $image['link'] : '#'; ?>">
                    <picture>
                        <?php
                            $img = $image->getMobile();
                            echo $img ? '<source media="(max-width: ' . $img->getWidth() . 'px)" srcset=" ' . $img->getUrl() . ' ">' : '';     
                        ?>
                        <img class="img-responsive <?php /* @escapeNotVerified */ echo $this->getData('image-class') ?>" src="<?php echo $image->getUrl() ?>" alt="<?php echo __($image->getLabel()) ?>" title="<?php echo __($image->getLabel()) ?>" width="<?php echo $image->getWidth() ?>" height="<?php echo $image->getHeight() ?>" />
                    </picture>
                </a>
                <?php
                    if ($img) {
                        $classes = 'caption-' . uniqid();
                        $width   = $img->getWidth();
                        echo isset($img['caption']) ? '<div class="magicslider-caption mobile ' . $classes . '" >' . $img['caption'] . '</div>' : ''; 
                        echo isset($image['caption']) ? '<div class="magicslider-caption desktop ' . $classes . '" >' . $image['caption'] . '</div>' : '';
                        $style = '<style>';
                        $style .= '@media only screen and (max-width: ' . $width . 'px){ .mobile.' .$classes . '{display:block}}';
                        $style .= '@media only screen and (min-width: ' . ++$width . 'px){ .desktop.' . $classes . ' {display:block}}';
                        $style .= '</style>';
                        echo $style;
                    } else {
                        echo isset($image['caption']) ? '<div class="magicslider-caption mobile desktop" >' . $image['caption'] . '</div>' : '';
                    }
                ?>
            </div>
        <?php endforeach ?>
    </div>
</div>
<style type="text/css">
    .magicslider-caption {
        display: none;
    }
    .magicslider-caption.mobile.desktop{
        display: block;
    }
</style>
<script type="text/javascript">
    require([
        'jquery',
        'magiccart/slick',
        ], function($, slick){
            var el  = $('.<?php echo $selector ?> .magicslider');
            if(!el.length) return;
            if($('body').hasClass('rtl')){
                el.attr('dir', 'rtl');
                el.data( 'rtl', true );
                // el.data( 'infinite', false );
                // el.data( 'slides-to-scroll', -1 );
            }
            var options = el.data();
            if(iClass === undefined){
                el.children().addClass('alo-item');
                var iClass = '.alo-item';
            }
            var selector = el.selector;
            var classes = selector + ' '+ iClass;
            var padding = ((options || {}).padding === void 0) ? 0 : options.padding;
            var style = padding ? classes + '{float: left; padding-left: '+padding+'px; padding-right:'+padding+'px} ' + selector + '{margin-left: -'+padding+'px; margin-right: -'+padding+'px}' : '';
            $('head').append('<style type="text/css">'+style+'</style>');
            if(options.slidesToShow){
                var lazy  = el.find('img.lazyload');
                if(lazy.length){
                    lazy.each(function(index) {
                        $(this).data('lazy', $(this).data('src'));
                        // $(this).attr('src', $(this).data('src')); // fixed data-adaptive-height="true"
                    });
                }
                el.on('init', function(event, slick){
                    var video = $(this).find('.external-video');
                    video.click(function(event) {
                        var $this = $(this);
                        var img = $this.find('img');
                        event.preventDefault();
                        var url = $(this).data('video');
                        url = url.replace("://vimeo.com/", "://player.vimeo.com/video/");
                        url = url.replace("://www.youtube.com/watch?v=", "://youtube.com/embed/");
                        url = url + '?autoplay=1&badge=0';
                        var iframe = '<iframe class="iframe-video" src="' + url + '" width="' + img.width() + '" height="' + img.height()  + '" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'; 
                        $this.append(iframe).addClass('embed');
                        img.hide();
                    });
                });

                var slider = el.slick(options);
                el.on('beforeChange', function(event, slick, currentSlide, nextSlide){
                    var video = $(this).find('.external-video');
                    video.removeClass('embed').find('img').show();
                    video.find('.iframe-video').remove();
                    // var slides = $(slick.$slides);
                    // slides.removeClass('abc-slick-active');
                    // var nxt_slider = $(slick.$slides.get(nextSlide));
                    // if(nxt_slider.length) nxt_slider.addClass('abc-slick-active');
                });
                slider.on( "click", ".item", function() {
                    el.slick('slickSetOption', "autoplay",false,false);
                }); 
            }

    });

</script>
