<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_aloHelper = $this->helper('Magiccart\Alothemes\Helper\Data');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <div class="toolbar-top">
        <?php echo $block->getToolbarHtml() ?>
		</div>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
		
		echo $_aloHelper->getGridStyle('.product-items .product-item'); // Config Product Grid
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php echo $viewMode; ?> category-product-<?php echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
				<?php foreach ($_productCollection as $_product): ?>
					<?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
				<!-- mode view grid -->
					<?php if ($viewMode == 'grid'):?>
						<div class="product-item-info" data-container="product-grid">
				    		<div class="images-container">
								<div class="link-view">
									<button type="button" class="quickview"  title="<?php echo $block->escapeHtml(__('Quick View')); ?>" onclick="jQuery.fn.quickview({url:'<?php echo $this->getUrl('alothemes/product/view', array('id' => $_product->getId(), '_type' => 'direct_link', '_secure'=>$this->getRequest()->isSecure()) ) ?>'});"><span><i class="pe-icon pe-7s-search icons"></i><?php /* echo __('Quick View') */?></span>
									</button>
								</div>
					   			 <?php
								$_productNameStripped = $block->stripTags($_product->getName(), null, true);
								?>
								<h2 class="product-name product-item-name">
									<a class="product-item-link"
									href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
										<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
									</a>
								</h2>
								<div class="product-hover">	
									<?php
									$productImage = $block->getImage($_product, $image);
									if ($pos != null) {
										$position = ' style="left:' . $productImage->getWidth() . 'px;'
											. 'top:' . $productImage->getHeight() . 'px;"';
									}
									?>
									<?php // Product Image ?>
									<?php echo $_aloHelper->getLabels($_product); ?>
									<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
										<?php echo $productImage->toHtml(); ?>
									</a>
								</div>
						
								<div class="hover-box">
									<div class="rating">
										<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
									</div>
									<?php if ($showDescription):?>
										<div class="short-desc">
											<div class="product description product-item-description">
												<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
											</div>
										</div>
									<?php endif; ?>
									<div class="sku">
										<label><?php /* @escapeNotVerified */ echo __('Sku:') ?> </label><?php echo $_helper->productAttribute($_product, $_product->getSku(), 'sku') ?>
									</div>
									<div class="product details product-item-details">
										<?php echo $block->getProductDetailsHtml($_product); ?>
										<div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
											<?php /* @escapeNotVerified */ echo $block->getProductPrice($_product) ?>
											<div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
												<?php if ($_product->isSaleable()): ?>
													<?php $postParams = $block->getAddToCartPostParams($_product); ?>
													<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
														<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
														<input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
														<?php echo $block->getBlockHtml('formkey')?>
														<button type="submit"
																title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
																class="action button tocart primary">
															<i class="icon icon-add-to-cart"></i>
															<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
														</button>
													</form>
												<?php else: ?>
													<?php if ($_product->getIsSalable()): ?>
														<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
													<?php else: ?>
														<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
													<?php endif; ?>
												<?php endif; ?>
											</div>
											<div data-role="add-to-links" class="actions-secondary add-to-links"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
												<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
													<a href="#"
													class="action towishlist"
													title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
													aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
													data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
													data-action="add-to-wishlist"
													role="button">
														<i class="icon icon-favorites"></i><?php /* @escapeNotVerified */ echo __('Wishlist') ?>
													</a>
												<?php endif; ?>
												<?php
												$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
												?>
												<a href="#"
												class="action tocompare"
												title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
												aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
												data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
												role="button">
													<i class="icon icon-compare"></i><?php /* @escapeNotVerified */ echo __('Compare') ?>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
                		</div>
					<?php endif; ?>
				
					<!-- mode view list -->
					<?php if ($viewMode == 'list'):?>
						<div class="product-item-info" data-container="product-grid">
							<?php
							$productImage = $block->getImage($_product, $image);
							if ($pos != null) {
								$position = ' style="left:' . $productImage->getWidth() . 'px;'
									. 'top:' . $productImage->getHeight() . 'px;"';
							}
							?>
							<?php // Product Image ?>
							<div class="images-container">
								<div class="product-hover">
									<div class="link-view">
										<button type="button" class="quickview"  title="<?php echo $block->escapeHtml(__('Quick View')); ?>" onclick="jQuery.fn.quickview({url:'<?php echo $this->getUrl('alothemes/product/view', array('id' => $_product->getId(), '_type' => 'direct_link', '_secure'=>$this->getRequest()->isSecure()) ) ?>'});"><span><i class="pe-icon pe-7s-search icons"></i><?php /* echo __('Quick View') */?></span>
										</button>
									</div>
									<?php echo $_aloHelper->getLabels($_product); ?>
									<a href="<?php echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
										<?php echo $productImage->toHtml(); ?>
									</a>
								</div>

								<div class="hover-box">
									<?php
										$_productNameStripped = $block->stripTags($_product->getName(), null, true);
									?>
									<h2 class="product-name product-item-name">
										<a class="product-item-link"
										href="<?php echo $_product->getProductUrl() ?>">
											<?php  echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
										</a>
									</h2>
									<div class="rating">
									<?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
									</div>
									<div class="product product-swatch details product-item-details">
										<?php echo $block->getProductDetailsHtml($_product); ?>
										<?php echo $block->getProductPrice($_product) ?>
									</div>
									<?php if ($showDescription):?>
										<div class="short-desc">
											<div class="product description product-item-description">
												<?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
												<a href="<?php  echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>"
												class="action more"><?php  echo __('Learn More') ?></a>
											</div>
										</div>
									<?php endif; ?>
								</div>
								<div class="product details product-item-details products-textlink">
									<?php /* echo $block->getProductDetailsHtml($_product); */ ?>
									<div class="product actions product-item-actions"<?php echo strpos($pos, $viewMode . '-actions') ? $position : ''; ?>>
										<?php if ($_product->getIsSalable()): ?>
											<div class="stock available"><label><?php /* @escapeNotVerified */ echo __('Availability:') ?> </label><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
										<?php else: ?>
											<div class="stock unavailable"><label><?php /* @escapeNotVerified */ echo __('Availability:') ?> </label><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
										<?php endif; ?>

										<?php  echo $block->getProductPrice($_product) ?>
										<div class="actions-primary"<?php echo strpos($pos, $viewMode . '-primary') ? $position : ''; ?>>
											<?php if ($_product->isSaleable()): ?>
												<?php $postParams = $block->getAddToCartPostParams($_product); ?>
												<form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
													<input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
													<input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php  echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
													<?php echo $block->getBlockHtml('formkey')?>
													<button type="submit"
															title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
															class="action button tocart primary">
															<i class="icon icon-add-to-cart"></i>
															<span><?php echo __('Add to Cart') ?>
															</span>
													</button>
												</form>
											<?php else: ?>
												<?php if ($_product->getIsSalable()): ?>
													<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
												<?php else: ?>
													<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
												<?php endif; ?>
											<?php endif; ?>
										</div>
										<div data-role="add-to-links" class="actions-secondary add-to-links"<?php echo strpos($pos, $viewMode . '-secondary') ? $position : ''; ?>>
											<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
												<a href="#"
												class="action towishlist"
												title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
												aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
												data-post='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
												data-action="add-to-wishlist"
												role="button">
													<i class="icon icon-favorites"></i><?php echo __('Wishlist') ?>
												</a>
											<?php endif; ?>
											<?php
											$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
											?>
											<a href="#"
											class="action tocompare"
											title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
											aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
											data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
											role="button">
												<i class="icon icon-compare"></i><?php echo __('Compare') ?>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					<?php endif; ?>
				
                <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
     <div class="toolbar-bottom toolbar-view-<?php echo $viewMode;?>">
        <?php echo $block->getToolbarHtml() ?>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
