& when (@media-common = true) {
  .stickyCart {
    position: fixed;
    background-color: #000000;
    width:100%;
    bottom:0;
    height: 90px;
    z-index: 99;
    display: none;
    align-items: center;
    justify-content: center;
    .stickyChild{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 90px;
        #parentQtySticky{
          height:43px;
        }
        #timerSticky{
            position: relative;
        }
        .clSticky{
          padding: 10px;
          #btnSticky:hover{
            background-color: #b59677;
            color:#fff;
          }
          .stickyProductName{
            color: #eee;
          }
          #btnSticky{
            background-color: transparent;
            height: 42px;
            border-color: #fff;
          }
          .imgBorder{
            width: 68px;
            height: 68px;
            border-radius: 50%;
            border: solid 1px #eee;
            display: flex;
            justify-content: center;
            align-items: center;
              .borderImg{
                width:60px;
                height: 60px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;
                overflow: hidden;
                  .stickyImg{
                    width:100%;
                    max-width: 100%;
                  }
              }
          }
      }
    }
    .quantity input {
      background-color: transparent;
      color: #eee;
      height: 42px;
      float: left;
      width: 5em;
    }
    .quantity input:focus {
      outline: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .contentHide{
      display: none;
    }
    .contentShow #btnSticky{
      width: 100%;
    }
  }
}