<!--
  ~ Copyright (c) 2013-2020 Mastercard
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label class="label" data-bind="attr: {'for': getCode()}">
            <img class="payment-icon" src="../pub/media/wysiwyg/simplify.png" style="height: 50px;"/>
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <fieldset class="fieldset" data-bind='attr: {id: "payment_form_" + getCode()}'>
            <div class="payment-method-billing-address">
                <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            <!-- ko if: (isVaultEnabled())-->
            <div class="field choice">
                <input type="checkbox"
                       name="vault[is_enabled]"
                       class="checkbox"
                       data-bind="attr: {'id': getCode() + '_enable_vault'}, checked: vaultEnabler.isActivePaymentTokenEnabler"/>
                <label class="label" data-bind="attr: {'for': getCode() + '_enable_vault'}">
                    <span><!-- ko i18n: 'Save for later use.'--><!-- /ko --></span>
                </label>
                <div class="field-tooltip toggle">
                            <span class="field-tooltip-action action-vault"
                                  tabindex="0"
                                  data-toggle="dropdown"
                                  data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                <span translate="'What is this?'"></span>
                            </span>
                    <div class="field-tooltip-content"
                         data-target="dropdown"
                         translate="'We store your payment information securely on the payment gateway\'s servers via SSL.'"></div>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: isModal() -->
            <div class="payment-method-simplifycommerce">
                <iframe name="simplifycommerce-form" data-bind='attr: {"data-sc-key": getPublicKey()}'></iframe>
            </div>
            <!--/ko-->
        </fieldset>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!-- ko if: isModal() -->
        <div class="actions-toolbar">
            <div class="primary">
                <button type="button" data-bind='visible: false, attr: {"data-sc-key": getPublicKey(), "data-redirect-url": getRedirectUrl(), "data-role": getCode() + "_pay"}'>
                    <span data-bind="i18n: 'Pay', afterRender: initializeSimplify"></span>
                </button>
                <button class="action primary checkout"
                        type="button"
                        data-bind='click: savePayment, enable: (getCode() == isChecked()), css: {disabled: !isPlaceOrderActionAllowed()}'
                        disabled>
                    <span data-bind="i18n: 'Pay'"></span>
                </button>
            </div>
        </div>
        <!--/ko-->
    </div>
</div>
